@model IEnumerable<string>
@{
	ViewBag.Title = "Calculator Application";
	Layout = null;
}
<link href="~/Content/site.css" rel="stylesheet" />
<script src="~/Script/jquery-1.7.1.min.js"></script>
<script src="~/Script/myCalculatorScript.js"></script>

<div>
	@foreach (var item in Model)
	{
		<div id="@item" class="calbody">
			<div class="calresult">
				<label class="resultToken"></label><br />
				<input type="text" class="resultValue" disabled="disabled" maxlength="10" value="0">
			</div>
			<div class="caloperator">
				<button class="calbt" value="7">7</button>
				<button class="calbt" value="8">8</button>
				<button class="calbt" value="9">9</button>
				<button class="calbt" value="+">+</button>
				<button class="calbt" disabled="disabled">MC</button>
				<button class="calbt" value="4">4</button>
				<button class="calbt" value="5">5</button>
				<button class="calbt" value="6">6</button>
				<button class="calbt" value="-">-</button>
				<button class="calbt" disabled="disabled">MR</button>
				<button class="calbt" value="1">1</button>
				<button class="calbt" value="2">2</button>
				<button class="calbt" value="3">3</button>
				<button class="calbt" value="/">/</button>
				<button class="calbt" disabled="disabled">MS</button>
				<button class="calbt" style="width:139px;" value="0">0</button>
				<button class="calbt" value="c">C</button>
				<button class="calbt" value="*">*</button>
				<button class="calbt" disabled="disabled">M+</button>
				<button class="calbt" value="=">=</button>
			</div>
		</div>
	}
</div>