@{
	ViewBag.Title = "Calculator Application";
	Layout = null;
}
<link href="~/Content/site.css" rel="stylesheet" />
<script src="~/Script/jquery-1.7.1.min.js"></script>
<script src="~/Script/Interface.js"></script>
<script src="~/Script/mytypescript.js"></script>
<script src="~/Script/Application.js"></script>

<div>
	<div class="calbody">
		<div class="calresult">
			<label id="resultToken"></label><br />
			<input type="text" id="resultValue" disabled="disabled">
		</div>
		<div class="calnumber">
			<button class="calbtnumber" value="7">7</button>
			<button class="calbtnumber" value="8">8</button>
			<button class="calbtnumber" value="9">9</button>
			<button class="calbtfunction" id="calPlus">+</button>
			<button class="calbtfunction" id="calMC" disabled="disabled">MC</button>
			<button class="calbtnumber" value="4">4</button>
			<button class="calbtnumber" value="5">5</button>
			<button class="calbtnumber" value="6">6</button>
			<button class="calbtfunction" id="calSub">-</button>
			<button class="calbtfunction" id="calMR" disabled="disabled">MR</button>
			<button class="calbtnumber" value="1">1</button>
			<button class="calbtnumber" value="2">2</button>
			<button class="calbtnumber" value="3">3</button>
			<button class="calbtfunction" id="calDiv">/</button>
			<button class="calbtfunction" id="calMS" disabled="disabled">MS</button>
			<button class="calbtdoublenumber" value="0">0</button>
			<button class="calbtfunction" id="calClear">C</button>
			<button class="calbtfunction" id="calMul">*</button>
			<button class="calbtfunction" id="calMPlus" disabled="disabled">M+</button>
			<button class="calbtfunction" id="calEqual">=</button>
		</div>
	</div>
</div>