#calbody_first, calbody_second{
	width: 226px;
	height: auto;
	/*float: left;*/
	/*margin: 100px 0px 0px 500px;*/

}
	.caloperator {
		width: 100%;
		height: auto;
	}

		.caloperator .calbt{
			width: 40px;
			height: 30px;
			padding: 5px;
			margin: 2px 2px 2px 0px;
		}

	.calresult {
		width: 100%;
		height: auto;
		background:black;
	}

		.calresult .resultValue {
			width: 89%;
			background:black;
			color:#ff0000;
			font-family: "Courier New", Courier;
			padding:0 10px;
			text-align:right;
			font-size:18px;
			height:auto;
			border: none;
		}

		.calresult .resultToken {
			width: 200px;
			color:#ff0000;
			font-family: "Courier New", Courier;
			padding:0 10px;
			text-align:right;
			font-size:13px;
		}