.calbody {
	width: 342px;
	height: auto;
	margin-left:-5px;
	left: 50%;
}
	.caloperator {
		width: 100%;
		height: auto;
	}

		.caloperator .calbt{
			width: 70px;
			height: 50px;
			padding: 0px;
			margin: 0 0 0 -5px;
			border: outset 1px;
		}

		.caloperator .calbt:hover{
			background-color: #deca9a;
		}

	.calresult {
		width: 100%;
		height: auto;
		background:black;
	}

		.calresult .resultValue {
			width: 96%;
			background:black;
			color:#ff0000;
			font-family: "Courier New", Courier;
			padding:0 10px;
			text-align:right;
			font-size:18px;
			height:50px;
			border: none;
			font-size:25px;
		}

		.calresult .resultToken {
			width: 200px;
			color:#ff0000;
			font-family: "Courier New", Courier;
			padding:0 10px;
			text-align:right;
			font-size:17px;
		}